<%- include("includes/header.ejs") %>
<link rel="stylesheet" href="/style/userProfile.css">
<div class="container errorBox">
        <h1>User Not found☹️☹️!</h1>
</div>
<%- include("includes/footer.ejs") %>
</body>
</html>

